<div class="card my-3 mx-auto text-center" style="width: 18rem;">
  <div class="card-header">
    <h5 class="card-title">Search</h5>
  </div>
  <div class="card-body">
    <p class="card-text">{{query}}</p>
  </div>
</div>